@media (max-width: 1320px) {
    body {
        #hero {
            form {
                select,
                button {
                    margin-bottom: 32px;
                }
            }
        }
    }
}
@media (max-width: 1205px) {
    body {
        nav {
            #s-div {
                display: none;
            }
        }
    }
}
@media (max-width: 675px) {
    html {
        position: relative;
        body {
            nav {
                margin-top: 15px;
                margin-bottom: 15px;
                #logo {
                    z-index: 3;
                }
                #ham {
                    display: flex;
                    flex-direction: column;
                    z-index: 4;
                    .ham-line {
                        height: 4px;
                        width: 40px;
                        background: $darkColor;
                        margin: 5px 0px;
                    }
                }
                #links {
                    display: none;
                }
                .show-nav {
                    // important key word because of the conflect between a class(show-nav) and an id (links)
                    display: flex !important;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center !important;
                    padding: 0px;
                    position: absolute;
                    background: $accentColor;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    gap: 22px;
                    font-size: 36px;
                }
            }
            #dataContainer {
                margin: 0px 0% 70px 0%;
                #flexContainer {
                    text-align: center;
                }
            }
        }
    }
}
@media (max-width: 555px) {
    body {
        #hero {
            h1 {
                font-size: 52px;
                margin-top: 24px;
            }
            h3 {
                font-size: 32px;
            }
            form {
                h5 {
                    font-size: 24px;
                }
                select {
                    text-align: center;
                    font-size: 22px;
                }
            }
        }
    }
}
@media (max-width: 435px) {
    body {
        #hero {
            h1 {
                margin-top: 0px;
                margin-bottom: 28px;
            }
            h3 {
                margin-bottom: 0px;
                font-size: 24px;
            }
            form {
                margin: 0;
                h5 {
                    font-size: 22px;
                }
            }
        }
    }
}

@media (max-width: 385px) {
    body {
        #hero {
            h1 {
                margin-top: 0px;
                margin-bottom: 28px;
                font-size: 42px;
            }
            h3 {
                margin-bottom: 25px;
                font-size: 18px;
            }
            form {
                h5 {
                    line-height: 1.2;
                }
                select {
                    font-size: 20px;
                }
            }
        }
    }
}
