* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}
$accentColor: #a9c4db;
$darkColor:#232528;

@mixin button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: $accentColor;
    background: $darkColor;
    width: 250px;
    padding: 10px 30px;
    margin: 0 5px;
    border-radius: 200px;
}

body {
    font-family: sans-serif;
    background-image: url(/Assets/69824713-blur-wallpapers.jpg);
    background-size: cover;
    color: $darkColor;

    nav {
        font-size: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 70px;
        justify-items: center;
        align-items: center;
        #logo{
            font-weight: bolder;
            font-size: 28px;
        }
        #links {
            display: flex;
            justify-content: space-between;
            div {
                margin: 0px 24px;
            }
        }
        div{
            position: relative;
            span{
                i{
                    position: absolute;
                    top: 10px;
                    right: 25px;
                }
            }
        }
        #search {
            background-color: $accentColor;
            font-size: 20px;
            padding: 10px 30px;
            margin: 0 5px;
            border: none;
            border-radius: 200px;
            max-width: 280px;
            &:focus {
                outline: none;
            }
        }
    }
    #hero {
        margin: 0px 10%;
        text-align: center;
        height: calc(100vh - 70px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr;
        justify-items: center;
        align-items: center;
        h1 {
            font-size: 86px;
            margin-bottom: 32px;
            font-weight: bold;
            line-height: 1.2;
            letter-spacing: -3px;
        }
        h3 {
            font-size: 44px;
            margin-bottom: 16px;
            line-height: 1.4;
            letter-spacing: -2px;
        }
        p {
            font-size: 30px;
            margin: 0px 10%;
        }
        form {
            align-self: start;
            h5 {
                font-size: 30px;
                margin-bottom: 28px;
                letter-spacing: -1.4px;
                line-height: 2;
                //color: #EAF6FF;
            }
            select {
                color: $darkColor;
                border: none;
                font-size: 24px;
                background: $accentColor;
                border-radius: 200px;
                width: 250px;
                padding: 10px 30px;
                margin: 0 5px;
                &:focus {
                    outline: none;
                }
                
            }
            button {
                @include button();
            }
        }
    }

    #dataContainer{
        background: rgba(150, 174, 194, 0.5);
        border-radius: 40px;
        margin: 0px 17% 70px 17%;
        padding: 24px 0px;
        //text-align: center;
        display: grid;
        grid-template-areas: 'icon icon icon'
                             'general temp additional';
        font-size: 20px;
        justify-content: center;
        align-items:center ;
        div{
            padding: 15px;
        }
        #icon{
            grid-area: icon;
            align-self:center ;
            justify-self: center;
        }
        #generalStatus{
            grid-area: general;
        }
        #tempStatus{
            grid-area: temp;
        }
        #additinalInfo{
            grid-area: additional;
        }
    }
}
