* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}
$accentColor: #a9c4db;
$darkColor: #232528;

@mixin button {
    font-family: inherit;
    font-size: 24px;
    background: none;
    border: solid 1px $accentColor;
    cursor: pointer;
    color: $accentColor;
    background: $darkColor;
    width: 250px;
    padding: 10px 30px;
    margin: 0 5px;
    border-radius: 200px;
}

body {
    font-family: "PT Sans", sans-serif;
    background-image: url(/Assets/69824713-blur-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: $darkColor;

    nav{
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10%;
        padding: 10px 0px;
        letter-spacing: 1px;
        #logo {
            font-weight: bolder;
            font-size: 40px;
        }

        #links {
            display: flex;
            justify-content: space-between;
            transition: all 300ms ease-out;
            .link {
                margin: 0px 24px;
                &:hover {
                    transform: scale(1.15, 1.15);
                }
            }
        }

        #s-div{
            position: relative;
            span {
                i {
                    position: absolute;
                    top: 10px;
                    right: 25px;
                }
            }
        }
        #ham {
            display: none;
        }

        #search {
            background-color: $accentColor;
            border: solid 1px $darkColor;
            font-size: 20px;
            padding: 10px 30px;
            margin: 0 5px;
            border-radius: 200px;
            max-width: 280px;
            &:focus {
                outline: none;
            }
        }
    }

    #hero {
        margin: 0px 10%;
        text-align: center;
        height: calc(100vh - 70px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr;
        justify-items: center;
        align-items: center;
        h1 {
            font-size: 86px;
            margin-bottom: 32px;
            font-weight: bold;
            line-height: 1.2;
            letter-spacing: -3px;
        }
        h3 {
            font-size: 44px;
            margin-bottom: 16px;
            line-height: 1.4;
            letter-spacing: -0.5px;
        }

        form {
            align-self: start;
            h5 {
                font-size: 30px;
                margin-bottom: 28px;
                line-height: 2;
            }
            select {
                justify-self: flex-start;
                font-family: inherit;
                color: $darkColor;
                border: solid 1px $darkColor;
                font-size: 24px;
                background: $accentColor;
                border-radius: 200px;
                width: 250px;
                padding: 9px 29px;
                margin: 0 5px;
                &:focus {
                    outline: none;
                }
            }
            button {
                @include button();
            }
        }
    }

    #dataContainer {
        text-align: center;
        background: rgba(150, 174, 194, 0.5);
        border-radius: 40px;
        font-size: 22px;
        margin: 0px 15% 70px 15%;
        padding: 24px 0px;
        #flexContainer {
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            div {
                padding: 15px;
            }
        }

        img {
            margin: 0px auto;
        }
    }
}
@import "media-queries";
